@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --cor1: #990000;
    --cor2: #f2a73d;
    --cor3: #400904;
    --cor4: #590E07;
    --cor5: #8C0303;
    --cor6: #F2F2F2;
    --cor7: #D9D9D9;

    --font01: 'Roboto', sans-serif;
    --font02: 'Merriweather', serif;
}

*{
    padding: 0%;
    margin: 0%;
}


html,body{
    overflow-x: hidden;
}

@media (min-width: 200px){

    header#cabeca01{
        width: 100%;
        margin: auto;
        height: 20px;
        padding-top: 5px;
        padding-bottom: 38px;
        box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.199);
        background-color:#d9d9d93f;
    }

    main > header#cabeca02{
        margin: auto;
        width: 98%;
        margin-top: 5px;
        padding-bottom: 5px;
    }

    #resolution1{
        display: none;
    }

    #menu-down1{
        display: none;
    }

    #menu-down0{
        display: none;
    }

    #nav-resolu{
        display: none;
    }

    header .txtcabeca{
        font-size: 0.8em;
        text-decoration: none;
        font-family: var(--font01);
        color: var(--cor3);
        padding-left: 30px;
    }

    .txtcabeca:hover{
        font-weight: bolder;
    }

    #solutek{
        color: var(--cor5);
        font-weight: bolder;
    }

    #solutek:hover{
        color: black;
    }

    #tekss:hover{
        color: green;
        font-weight: bolder;
    }

    #teks:hover{
        color: var(--cor2);
        font-weight: bolder;
    }

    #log{
        margin-left: 2%;
        margin-right: 40%;
        width: 100px;
        height: 32px;
    }

    main > section#banners{
        background-color: black;
        margin: 0 auto;
        width: 100%;
        height: 440px;
        overflow: hidden;
    }
    
    main > section > div#banner{
        width: 100%;
        right: 440px;
        display: flex;
    }
    
    div#banner input{
        display: none;
    }
    
    .slide{
        width: 100%;
        position: relative;
    }
    
    .imslide{
        width: 100vw;
        height: 440px;
    }
    
    #radio1:checked ~ .first{
        margin-left: 0%;
    }
    
    #radio2:checked ~ .first{
        margin-left: -101.5%;
        transition: 2s;
    }
    
    #radio3:checked ~ .first{
        margin-left: -200%;
        transition: 2s;
    }

    main > section > h1#txtcompras{
        font-family: var(--font01);
        font-size: 2em;
        text-align: left;
        color: var(--cor5);
        margin-left: 15px;
        margin-top: 20px;
        margin-bottom: 15px;
        /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    }

    main > section > h1#txcertificadoideal{
        font-family: var(--font01);
        font-size: 2em;
        text-align: left;
        color: var(--cor5);
        margin-left: 15px;
        margin-top: 50px;
        margin-bottom: 15px;
        /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    }

    main > section > h1#txtconhecacertificado{
        font-family: var(--font01);
        max-width: 90%;
        font-size: 2em;
        text-align: left;
        color: var(--cor5);
        margin-left: 15px;
        margin-top: 50px;
        margin-bottom: 15px;
        /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    }

    #card-his0{
        margin: auto;
        border:white;
    }
    
    #card-his1{
        margin: auto;
        border:white ;

    }
    
    #card-his2{
        margin: auto;
        border:white;
    }

}

@media (max-width: 1231px){

    header#cabeca01{
        width: 100%;
        margin: auto;
        height: 20px;
        padding-top: 5px;
        padding-bottom: 38px;
        box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.199);
        background-color:#d9d9d93f;
    }

    main > header#cabeca02{
        margin: auto;
        width: 98%;
        margin-top: 5px;
        padding-bottom: 5px;
    }

    #resolution1{
        display: none;
    }

    #menu-down1{
        display: none;
    }

    #menu-down0{
        display: none;
    }

    header .txtcabeca{
        font-size: 0.8em;
        text-decoration: none;
        font-family: var(--font01);
        color: var(--cor3);
        padding-left: 30px;
    }

    .txtcabeca:hover{
        font-weight: bolder;
    }

    #solutek{
        color: var(--cor5);
        font-weight: bolder;
    }

    #solutek:hover{
        color: black;
    }

    #tekss:hover{
        color: green;
        font-weight: bolder;
    }

    #teks:hover{
        color: var(--cor2);
        font-weight: bolder;
    }

    #log{
        margin-left: 2%;
        margin-right: 35%;
        width: 100px;
        height: 37px;
    }

}

@media (max-width: 1134px){

    header#cabeca01{
        width: 100%;
        margin: auto;
        height: 20px;
        padding-top: 5px;
        padding-bottom: 38px;
        box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.199);
        background-color:#d9d9d93f;
    }

    main > header#cabeca02{
        margin: auto;
        width: 98%;
        margin-top: 5px;
        padding-bottom: 5px;
    }

    #resolution1{
        display: none;
    }

    #menu-down1{
        display: none;
    }

    #menu-down0{
        display: none;
    }

    header .txtcabeca{
        font-size: 0.8em;
        text-decoration: none;
        font-family: var(--font01);
        color: var(--cor3);
        padding-left: 30px;
    }

    .txtcabeca:hover{
        font-weight: bolder;
    }

    #solutek{
        color: var(--cor5);
        font-weight: bolder;
    }

    #solutek:hover{
        color: black;
    }

    #tekss:hover{
        color: green;
        font-weight: bolder;
    }

    #teks:hover{
        color: var(--cor2);
        font-weight: bolder;
    }

    #log{
        margin-left: 2%;
        margin-right: 30%;
        width: 100px;
        height: 37px;
    }

}

@media (max-width: 1046px){

    header#cabeca01{
        width: 100%;
        margin: auto;
        height: 20px;
        padding-top: 5px;
        padding-bottom: 38px;
        box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.199);
        background-color:#d9d9d93f;
    }

    main > header#cabeca02{
        margin: auto;
        width: 98%;
        margin-top: 5px;
        padding-bottom: 5px;
    }

    #resolution1{
        display: none;
    }

    #menu-down1{
        display: none;
    }

    #menu-down0{
        display: none;
    }

    header .txtcabeca{
        font-size: 0.8em;
        text-decoration: none;
        font-family: var(--font01);
        color: var(--cor3);
        padding-left: 30px;
    }

    .txtcabeca:hover{
        font-weight: bolder;
    }

    #solutek{
        color: var(--cor5);
        font-weight: bolder;
    }

    #solutek:hover{
        color: black;
    }

    #tekss:hover{
        color: green;
        font-weight: bolder;
    }

    #teks:hover{
        color: var(--cor2);
        font-weight: bolder;
    }

    #log{
        margin-left: 2%;
        margin-right: 20%;
        width: 100px;
        height: 37px;
    }

}

@media (max-width: 918px){

    header#cabeca01{
        width: 100%;
        margin: auto;
        height: 20px;
        padding-top: 5px;
        padding-bottom: 38px;
        box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.199);
        background-color:#d9d9d93f;
    }

    main > header#cabeca02{
        margin: auto;
        width: 98%;
        margin-top: 5px;
        padding-bottom: 5px;
    }

    #resolution1{
        display: none;
    }

    #menu-down1{
        display: none;
    }

    #menu-down0{
        display: none;
    }

    header .txtcabeca{
        font-size: 0.8em;
        text-decoration: none;
        font-family: var(--font01);
        color: var(--cor3);
        padding-left: 30px;
    }

    .txtcabeca:hover{
        font-weight: bolder;
    }

    #solutek{
        color: var(--cor5);
        font-weight: bolder;
    }

    #solutek:hover{
        color: black;
    }

    #tekss:hover{
        color: green;
        font-weight: bolder;
    }

    #teks:hover{
        color: var(--cor2);
        font-weight: bolder;
    }

    #log{
        margin-left: 2%;
        margin-right: 10%;
        width: 100px;
        height: 37px;
    }

    main > section#banners{
        background-color: black;
        margin: 0 auto;
        width: 100%;
        height: 390px;
        overflow: hidden;
    }
    
    main > section > div#banner{
        width: 100%;
        right: 390px;
        display: flex;
    }
    
    div#banner input{
        display: none;
    }
    
    .slide{
        width: 100%;
        position: relative;
    }
    
    .imslide{
        width: 100vw;
        height: 390px;
    }
    
    #radio1:checked ~ .first{
        margin-left: 0%;
    }
    
    #radio2:checked ~ .first{
        margin-left: -102.1%;
        transition: 2s;
    }
    
    #radio3:checked ~ .first{
        margin-left: -200%;
        transition: 2s;
    }

    main > section > h1#txtcompras{
        font-family: var(--font01);
        font-size: 1.7em;
        text-align: left;
        color: var(--cor5);
        margin-left: 15px;
        margin-top: 20px;
        margin-bottom: 15px;
        /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    }

    main > section > h1#txcertificadoideal{
        font-family: var(--font01);
        font-size: 1.7em;
        text-align: left;
        color: var(--cor5);
        margin-left: 15px;
        margin-top: 50px;
        margin-bottom: 15px;
        /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    }

    main > section > h1#txtconhecacertificado{
        font-family: var(--font01);
        max-width: 98%;
        font-size: 1.7em;
        text-align: left;
        color: var(--cor5);
        margin-left: 15px;
        margin-top: 50px;
        margin-bottom: 15px;
        /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    }

}

@media (max-width: 810px){

    header#cabeca01{
        width: 100%;
        margin: auto;
        height: 20px;
        padding-top: 5px;
        padding-bottom: 38px;
        box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.199);
        background-color:#d9d9d93f;
    }

    main > header#cabeca02{
        margin: auto;
        width: 98%;
        margin-top: 5px;
        padding-bottom: 5px;
    }

    #resolution1{
        display: none;
    }

    #menu-down1{
        display: none;
    }

    #menu-down0{
        display: none;
    }

    header .txtcabeca{
        font-size: 0.8em;
        text-decoration: none;
        font-family: var(--font01);
        color: var(--cor3);
        padding-left: 30px;
    }

    .txtcabeca:hover{
        font-weight: bolder;
    }

    #solutek{
        color: var(--cor5);
        font-weight: bolder;
    }

    #solutek:hover{
        color: black;
    }

    #tekss:hover{
        color: green;
        font-weight: bolder;
    }

    #teks:hover{
        color: var(--cor2);
        font-weight: bolder;
    }

    #log{
        display: none;
        margin-left: 10%;
        width: 100px;
        height: 37px;
    }

}

@media (max-width: 611px){

    header#cabeca01{
        width: 100%;
        margin: auto;
        height: 20px;
        padding-top: 5px;
        padding-bottom: 38px;
        box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.199);
        background-color:#d9d9d93f;
    }

    main > header#cabeca02{
        margin: auto;
        width: 98%;
        margin-top: 5px;
        padding-bottom: 5px;
    }

    #navcabeca01{
        display: none;
    }

    #resolution1{
        display: block;
    }

    #menu-down1{
        display: block;
    }

    #menu-down0{
        display: none;
    }

    header .txtcabeca{
        font-size: 0.8em;
        text-decoration: none;
        font-family: var(--font01);
        color: var(--cor3);
        padding-left: 30px;
    }

    .txtcabeca:hover{
        font-weight: bolder;
    }

    #solutek{
        color: var(--cor5);
        font-weight: bolder;
    }

    #solutek:hover{
        color: black;
    }

    #tekss:hover{
        color: green;
        font-weight: bolder;
    }

    #teks:hover{
        color: var(--cor2);
        font-weight: bolder;
    }

    main > section#banners{
        background-color: black;
        margin: 0 auto;
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    
    main > section > div#banner{
        width: 100%;
        right: 300px;
        display: flex;
    }
    
    div#banner input{
        display: none;
    }
    
    .slide{
        width: 100%;
        position: relative;
    }
    
    .imslide{
        width: 100vw;
        height: 300px;
    }
    
    #radio1:checked ~ .first{
        margin-left: 0%;
    }
    
    #radio2:checked ~ .first{
        margin-left: -102%;
        transition: 2s;
    }
    
    #radio3:checked ~ .first{
        margin-left: -200%;
        transition: 2s;
    }

    main > section > h1#txtcompras{
        font-family: var(--font01);
        font-size: 1.5em;
        text-align: left;
        color: var(--cor5);
        margin-left: 15px;
        margin-top: 20px;
        margin-bottom: 15px;
        /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    }

    main > section > h1#txcertificadoideal{
        font-family: var(--font01);
        font-size: 1.5em;
        text-align: left;
        color: var(--cor5);
        margin-left: 15px;
        margin-top: 50px;
        margin-bottom: 15px;
        /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    }

    main > section > h1#txtconhecacertificado{
        font-family: var(--font01);
        max-width: 98%;
        font-size: 1.5em;
        text-align: left;
        color: var(--cor5);
        margin-left: 15px;
        margin-top: 50px;
        margin-bottom: 15px;
        /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    }


}

@media (max-width: 530px){

    header#cabeca01{
        width: 100%;
        margin: auto;
        height: 27px;
        padding-top: 0px;
        padding-bottom: 0px;
        box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.199);
        background-color:#d9d9d93f;
    }

    main > header#cabeca02{
        width: 98%;
        padding-bottom: 0%;
        padding-top: 0%;
        margin-top: -3%;
        margin-bottom: -3%;
    }

    #navcabeca01{
        display: none;
    }

    #resolution1{
        display: block;

    }

    #menu-down1{
        display: block;
    }

    #menu-down0{
        display: block;
    }

    #parce{
        display: none;
    }

    #navcabeca02{
        display: none;
    }

    #nav-resolu{
        display: block;
    }


    header .txtcabeca{
        font-size: 0.6em;
        text-decoration: none;
        font-family: var(--font01);
        color: var(--cor3);
        padding-left: 30px;
    }

    .txtcabeca:hover{
        font-weight: bolder;
    }

    #solutek{
        color: var(--cor5);
    }

    #tekss{
        color: black;
    }

    #teks{

        color: black;
    }

    #div-menu{
        display: none;
        width: 180px;
        height: 260px;
        position: absolute;
        z-index: 1;
        background-color:rgba(255, 255, 255, 0.808);
        font-family: var(--font01);
        font-size: 1.1em;
        margin-top: -9%;
        margin-left: 50%;
        border-radius: 5%;
        box-shadow: rgba(0, 0, 0, 0.082) 1px 1px 1px 1px;
    }

    #menuu{
        width: 35px;
        height: 35px;
        display: inline-block;
        margin-left: 31%;
        margin-top: 2%;
        position: absolute;
    }

    .a-menu-resolu{
        text-decoration: none;
    }

    .p-menu-resolu{
        font-family: var(--font01);
        font-weight: bold ;
        margin-right: 3%;
        margin-top: 5%;
        line-height: 2.5em;
        text-align: right;
        text-shadow: rgba(0, 0, 0, 0.247) 1px 1px 1px;
    }

    #p-menu1{
        margin-top: 30%;
    }

    #img-menu{
        width: 100%;
    }

    #nav-resolu{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #img-logomenu{
        width: 30%;
        
        display: inline-block;
        margin-left: 2%;
        margin-right: 30%;
    }


    #div-ajuda{
        display: inline-block;
        margin-left: -30%;
    }

    main > section#banners{
        background-color: black;
        margin: 0 auto;
        width: 100%;
        height: 240px;
        overflow: hidden;
    }
    
    main > section > div#banner{
        width: 100%;
        right: 240px;
        display: flex;
    }
    
    div#banner input{
        display: none;
    }
    
    .slide{
        width: 100%;
        position: relative;
    }
    
    .imslide{
        width: 100vw;
        height: 240px;
    }
    
    #radio1:checked ~ .first{
        margin-left: 0%;
    }
    
    #radio2:checked ~ .first{
        margin-left: -102%;
        transition: 2s;
    }
    
    #radio3:checked ~ .first{
        margin-left: -200%;
        transition: 2s;
    }

    main > section > h1#txtcompras{
        font-family: var(--font01);
        font-size: 1.3em;
        text-align: left;
        color: var(--cor5);
        margin-left: 15px;
        margin-top: 20px;
        margin-bottom: 15px;
        /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    }

    main > section > h1#txcertificadoideal{
        font-family: var(--font01);
        font-size: 1.3em;
        text-align: left;
        color: var(--cor5);
        margin-left: 15px;
        margin-top: 50px;
        margin-bottom: 15px;
        /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    }

    main > section > h1#txtconhecacertificado{
        font-family: var(--font01);
        max-width: 98%;
        font-size: 1.3em;
        text-align: left;
        color: var(--cor5);
        margin-left: 15px;
        margin-top: 50px;
        margin-bottom: 15px;
        /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    }

    #card-his0{
        margin: auto;
        border: white;
        width: 350px;
        height: 300px;
    }
    
    #card-his1{
        margin: auto;
        border: white;
        width: 350px;
        height: 300px;
    }
    
    #card-his2{
        margin: auto;
        border: white ;
        width: 350px;
        height: 300px;
    }

}


main > header > nav#navcabeca02{
    margin: auto;
    font-family: var(--font01);
    /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);*/
    font-size: 1.2em;
    font-weight:bolder;
}


#maincabeca2 nav a{
    color:var(--cor5);
}

#maincabeca2 nav a:hover{
    color: var(--cor2);
    transition: 0.3s;
}

main section#compras{
    margin: auto;
    text-align: center;
    max-width: 90%;
    min-height: 400px;
}

#img-tam{
    width: 50%;
    margin: auto;
    
}

#img-tamm{
    width: 60%;
    margin: auto;
}

.iconcompre{
    margin: auto;
    width: 140px;
    height: 40px;
    border: solid rgba(0, 0, 0, 0.096) 2.5px;
    /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.342);*/
    border-radius: 15px 15px ;
    
}

.iconecarrinho{
    display: inline;
    width: 22%;
    position: relative;
    left: 1px;
    top: 4px
}

.bottoncompre{
    display: inline;
    font-family: var(--font01);
    font-weight: bolder;
    color: var(--cor5);
    position: relative;
    left: 2%;
    top: 13%;
}

.iconcompre:hover{
    background-color: var(--cor2);
    border: var(--cor2);
    transition: 0.5s;
    transform: translate(-5px, -5px);
    transition: transform 0.4s;
    cursor: pointer;
}

main > section#idealcertificado{
    margin: auto;
    text-align: center;
    width: 90%;
}

.card-title{
    font-family: var(--font01);
    color: var(--cor4);
}

.card-text{
    font-family: var(--font02);
    font-weight: lighter;
}

.col:hover{
    border: solid white 4px;
    border-radius: 5px;
}

main > section > div#pj{
    width: 200px;
    height: 230px;
    margin-right: 60px;
    border: solid 1px rgba(0, 0, 0, 0.185);
    display: inline-block ;
}

main > section > div#pf{
    width: 200px;
    height: 230px;
    margin-right: 60px;
    border: solid 1px rgba(0, 0, 0, 0.185);
    display: inline-block ;
}

main > section > div#prof{
    width: 200px;
    height: 230px;
    margin-right: 60px;
    border: solid 1px rgba(0, 0, 0, 0.185);
    display: inline-block ;
}

main > section > div#ecom{
    width: 200px;
    height: 230px;
    border: solid 1px rgba(0, 0, 0, 0.185);
    display: inline-block ;
}

#ideal{
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
}

#card-ideal{
    border: white;
}

#card-ideall{
    border: white;
}

#tex-ideal{
    font-family: var(--font02);
    line-height: 2em;
}

#tex-ideall{
    font-family: var(--font02);
    line-height: 2em;
}

#historia{
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
}


footer{
    margin: auto;
    border-top: solid 1px rgba(0, 0, 0, 0.151);
    background-color:#d9d9d93f;
    margin-top: 10%;
}

.text-footer{
    margin-top: 10px;
    text-align: center;
    font-family: var(--font01);
    font-size: 0.9em;
}

#footer-direitos{
    font-weight: bolder;
}

#div-redes{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    
}

.redes{
    text-decoration: none;
    padding-right: 15px;
}

#redes01{
    width: 30px;
}

#redes02{
    width: 30px;
    margin-left: 6px;
}

#redes03{
    width: 30px;
    margin-left: 6px;
}

#redes04{
    width: 30px;
    margin-left: 6px;
}